
/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,500&display=swap'); */
body {
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Roboto Mono';
}

.row-content {
    margin: 20px ;
    /* margin-top: 100px; */
    padding: 70px 0px 70px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-content-events {
  margin: 20px ;
  margin-top: 60px;
  padding: 70px 0px 70px 0px;
  border-bottom: 1px ridge;
  min-height: 200px;
}


.top-row {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.navbar {
  background: rgb(228,230,158);
  background: linear-gradient(0deg, rgba(228,230,158,1) 0%, rgba(134,127,246,1) 100%);
height: 120px;
font-family: 'Ubuntu', sans-serif;
font-size: large;
}

#Navbar {
    position: absolute;
    top: 50px;
    right: 80px;
    
}
.nav-item {
  padding: 0 10px 0 10px;
}

/* #svg-img {
    margin-bottom: 80px;
} */

#text-home {

  /* font-family: 'Ubuntu', sans-serif;  */
  font-size: 15px;
  
  text-align: justify;
  text-justify: inter-word;
}
svg {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
}

front-image {
    text-align: center;
}

#right-wheel,
#left-wheel {
     animation: wheel 1.5s  infinite linear;
     transform-origin: center;
     transform-box: fill-box;
    
}

#man-bike {
      animation: bike 1s ease-in-out infinite alternate;
      transform-origin: bottom;

}

#hat {
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;

}

@keyframes wheel {

    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes bike {

    from {
        transform: rotateX(0deg);
    }
 to {
        transform: rotateX(20deg);
 }
}

@keyframes hat {
    from{
        transform: translateY(00%) rotateZ(0deg);
    }
    to {
        transform: translateY(40%) rotateZ(20deg);
    }
}

.footer {

  background: rgb(134,127,246);
  background: linear-gradient(0deg, rgba(134,127,246,1) 0%, rgba(228,230,158,1) 100%);
 padding-top: 15px;

}

.carousel-item {
    height: 300px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
    width:100%;
    height:50%;
}

       /*Flipping Cards*/

  .flip-box-col {
    margin-top: 10px;
  }
 
    #event-img {
        border-radius: 16px;
        margin-top: -30px;
    }

 .flip-box {
     max-width: 500px;
     height:350px;
     margin: auto;
     perspective: 1000px;
     margin-bottom: 2px;
    }

    .flip-img, .front, .back {
    width: 100%;
    height: 100%;
}

.flip-img {
    position: relative;
    transform-style: preserve-3d;
    transition: .5s;
    box-shadow: 0px 0px 10px 2px grey;
    border: 10px solid white;
    border-radius: 10px;
}

.front {
     position: absolute ;
    cursor: pointer;
    backface-visibility: hidden;
}
.back {
transform: rotateY(180deg);
background: #F1C40F;
/*width: 100%;
height: 100%;*/
padding: 20px;
color: #fff;
position: absolute;
/* font-family: sans-serif; */
box-sizing: border-box;
overflow-y: scroll;

}

.flip-box:hover .flip-img {
    transform: rotateY(180deg);
}
   


  /*BOOKING A TOUR*/


  #h1-events {
    padding: 0;
    margin: 70px 0px -50px 0px;
    text-align-last: center;
    text-align: center;
  }
   
   .card {
     border: none;
     border-radius: 1rem;
     transition: all 0.2s;
     box-shadow: 0 0.5rem 1rem 0 #867ff6;
   }
   
   .card hr {
     margin: 1.5rem 0;
   }
   
   .card .card-title {
     margin: 0.5rem 0;
     font-size: 0.9rem;
     letter-spacing: .1rem;
     font-weight: bold;
   }
   
   .card .card-price {
     font-size: 3rem;
     margin: 0;
   }
   
   .card .card-price .period {
     font-size: 0.8rem;
   }
   
   .card ul li {
     margin-bottom: 1rem;
   }
   
   .card .text-muted {
     opacity: 0.7;
   }
   
   .card .btn {
     font-size: 80%;
     border-radius: 5rem;
     letter-spacing: .1rem;
     font-weight: bold;
     padding: 1rem;
     opacity: 0.7;
     transition: all 0.2s;
   }
   
   /* Hover Effects on Card */
   
   @media (min-width: 992px) {
     .card:hover {
       margin-top: -.25rem;
       margin-bottom: .25rem;
       box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
     }
     .card:hover .btn {
       opacity: 1;
     }
   }

    
    /*NEWSLETTER*/

   .box {
   
     box-shadow: 5px 4px 5px 8px rgba(146, 136, 1, 0.3);
     border-radius: 20px;
     margin-top: 40px;
     text-align: center;
     max-width: 500px;
     padding: 30px;
   
}

   .box img {
     width: 400px;
     max-width: 100%;
     
   }

   .box h2 {
     margin: 10px 0 0;
   }

   .box p {
     color: #312940;
     margin: 10px;

   }

   .form-control {
    position: relative; 
    margin: 30px 0 20px;
    border: none;
     
   }
   
   .input {
     border: 0;
     border-radius: 50px;
     box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
     font-size: 14px;
     height: 42px;
     padding: 12px 15px;
     width: 100%;
   }

   .btn-news {
     background-color: #312940;
     border: 0;
     border-radius: 50px;
     color: #fff;
     font-size: 14px;
     height: 42px;
     padding: 12px 15px;
     position: absolute;
     right: 0;
   }

   .input:focus, .btn-news:focus {
     outline: 0;
   }
   

   .box-image1 {
     width: 200px;
     position: relative;
     border-radius: 50%;
     background-color: #94bbe9;
     border: 10px solid #94bbe9;
     margin-left: 15%;
   }

   .face1 {
     background-color: #94bbe9;
     border: 10px solid #94bbe9;
     border-radius: 50%;
     padding: 0 34px 0 34px;
     
   }

   #team {
    margin-top: -100px;
     margin-bottom: 100px ;
    
     /*text-align: center;*/
     /* font-family: 'Abril Fatface', cursive; */
     text-align: center;
   }

   .tours {
     margin-top: -10px;
   }

  .title {
    text-align: center;
  }

/*SOCIA MEDIA ICONS*/

  .post {
    /* margin-left: 50%; */
    margin-left: 40%;
  }
  .post1 {
  margin-left: 10%;

  }
  .post2 {
    margin-left: 20%;
  
    }


  #on-hover {
    width: 200px;
    height: 5px;
    background-color: rgb(112, 112, 206);
    margin-left: 15%;
  }

  #social-mara {
    display: none;
    /* opacity:0; */
    margin-left: 15%;
    transition: .5s ease;
    margin-top: 0%;
  }
  
  #on-hover:hover + #social-mara, #social-mara:hover  {
    display: block;
	/* opacity:1; */
}

.box-content {
  width: 200px;
    margin-top: 20px;
    margin-left: 15%;
    
}



.social-icons {
  width: 200px;
  height: 50px;
  background-color: rgb(112, 112, 206);
  color: white;
  margin-top: 20px;
}

.social-icons ul {
  display: flex;
  position: relative;
  transform: translate(-23%, 20%);
}

.social-icons ul li {
  list-style: none;
}

.social-icons ul li a {
  width: 33px;
  height: 33px;
  background-color: #fff;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social-icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social-icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-icons ul li a:hover:before {
  top: 0;
}

.social-icons ul li:nth-child(1) a:before{
  background: #3b5999;
}

.social-icons ul li:nth-child(2) a:before{
  background: #55acee;
}

.social-icons ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social-icons ul li:nth-child(4) a:before {
  background: #dd4b39;
}

/*GOOGLE MAPS*/

#map {
   
  height: 100%;
  width: 100%;

}


.modalbox {
    min-width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(81, 51, 51, 0.5);
    z-index: 99999;
    pointer-events: auto;
    display:none;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Style the form */
#regForm {
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* 
@media only screen and (max-device-width : 640px) {

  .navbar-background {
    background-color: rgba(81, 51, 51, 0.5);
  }
  } */